<header class="header-top">
  <a href="/" class="logo"><img src={{asset "images/logo.svg"}} alt="" /></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/about">About us</a></li>
    <li><a href="/featured">Fatured projects</a></li>
    <li><a href="https://poslovi.kolosek.com">Careers</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>
