<header id="header" style="margin-bottom: 20px;">
  <nav style="padding-top: 54px; padding-left: 338px;">
    <div>
      <a href="/">
        <img src={{asset "images/logo.svg"}} alt="" />
      </a>
    </div>
  </nav><!-- /nav -->
</header><!-- /#header -->
