{{!< default_bootstrap}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> navigation }}

<main class="contact-us">
  <header class="heading">
    <div class="container position-relative">
      <h1 class="text-center">
        Feel like working together?
      </h1>
      <p class="fs-5 text-center">
        We helped build many startups in various industries. We are sure we can help you too.
        <br>
        Tell us more about your project or idea
      </p>
    </div>
  </header>
  <section class="contact">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-5">
          <div class="contact-us-get-in-touch">
            <h2 class="h3">Get in touch</h2>
            <div class="">
              <h3 class="h4"><img src="assets/images/ic-mic.svg" alt="">Call us</h3>
              <p>
                Schedule a meeteng to discuss your idea and see how we can help
              </p>
              <a href="#">Schedule a call</a>
            </div>
            <div class="">
              <h3 class="h4"><img src="assets/images/ic-pen.svg" alt="">Write to us</h3>
              <p>
                If you prefere to chat fill out the feedback form or say hello at <a href="mailto:hello@kolosek.com">hello@kolosek.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-7">
          <form id='BiginWebToContactForm362158000000694001' name='BiginWebToContactForm362158000000694001' method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return validateForm362158000000694001()' accept-charset='UTF-8' style='margin: 0;'>
            <div class="row g-5">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" name="Full Name" class="form-control" id="floatingName" placeholder="Full Name">
                  <label for="floatingname">Full Name</label>
                </div>
              </div>
            </div><!-- /.row -->
            <div class="row g-5">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" name="Email" class="form-control" id="floatingEmail" placeholder="Email">
                  <label for="floatingEmail">Email</label>
                </div>
              </div>
            </div><!-- /.row -->
            <div class="row g-5">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" name="Account Name" class="form-control" id="floatingProject" placeholder="Company / Project">
                  <label for="floatingProject">Company / Project</label>
                </div>
              </div>
            </div><!-- /.row -->
            <div class="row g-5">
              <div class="col">
                <div class="form-floating mb-3">
                  <textarea class="form-control" name="Description" id="floatingDesc" placeholder="Tell us your needs"></textarea>
                  <label for="floatingDesc">Tell us your needs</label>
                </div>
              </div>
            </div><!-- /.row -->
            <div class="row g-5">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" name="enterdigest" class="block w-full rounded-md border p-3">
                  <span class="bgn-wf-field"><img id="imgid362158000000694001" src="https://bigin.zoho.eu/crm/CaptchaServlet?formId=c938b3760cef79fa104a6d95db5ac1e66fe3e0257bd255427c8475587d49c2ff&grpid=6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b"></span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn btn-primary mx-0">Make it happen</button>
            </div>
            <div>
              <p>
                By clicking "Make it happen" you agree to the Privacy Policy and Terms of Use
              </p>
            </div>
          </form>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact-us-review">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2 review-title">
            Need a review?
          </h2>
          <p class="text-center fs-5">
            Submit your code or/and design to get feedback on your work. The main goal of this process is to provide you with an expert analysis and suggestions on how to improve your product
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-5 offset-1">
          <div class="features-box">
            <h3 class="h2">Code</h3>
            <ul class="list-unstyled">
              <li>Code Quality</li>
              <li>Code Maintainability</li>
              <li>Project Architecture</li>
              <li>+ many more parameters</li>
            </ul>
            <button class="btn btn-outline-primary w-100" data-text="Learn More"><span>Learn More</span></button>
          </div>
        </div>
        <div class="col-5">
          <div class="features-box">
            <h3 class="h2">Design</h3>
            <ul class="list-unstyled">
              <li>System Messages</li>
              <li>Typography</li>
              <li>Colors, Foregrounds & Backgrounds</li>
              <li>+ many more UI & UX features</li>
            </ul>
            <button class="btn btn-outline-primary w-100" data-text="Learn More"><span>Learn More</span></button>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /main -->

{{> footer }}
