{{!< default_bootstrap}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> navigation }}

<main class="contact-us">
  <header class="heading" style="margin-bottom: 8rem">
    <div class="container position-relative">
      <h1 class="text-center">
        Feel like working together?
      </h1>
      <p class="fs-5 text-center">
        We helped build many startups in various industries. We are sure we can help you too.
        <br>
        Tell us more about your project or idea
      </p>
    </div>
  </header>
  <section class="contact" style="margin-bottom: 8rem">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md-5">
          <div class="contact-us-get-in-touch"  style="height: 700px;">
            <h2 class="h3">Get in touch</h2>
            <div class="">
              <h3 class="h4"><img src="{{ asset "images/ic-mic.svg"}}" alt="">Call us</h3>
              <p>
                Schedule a meeteng to discuss your idea and see how we can help
              </p>
              <a href="#">Schedule a call</a>
            </div>
            <div class="">
              <h3 class="h4"><img src="{{ asset "images/ic-pen.svg"}}" alt="">Write to us</h3>
              <p>
                If you prefere to chat fill out the feedback form or say hello at <a href="mailto:hello@kolosek.com">hello@kolosek.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class='wf-parent'>
            <div class='wf-wrapper' id='BiginWebToRecordFormDiv362158000000724593'>
            <meta name='viewport' content='width=device-width, initial-scale=1.0'>
            <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
            <form id='BiginWebToRecordForm362158000000724593' name='BiginWebToRecordForm362158000000724593' class='wf-form-component' data-ux-form-alignment='top' style='font-family: Arial;position: relative;font-size:15px;' method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return validateForm362158000000724593()' accept-charset='UTF-8'>
            <!-- Do not remove this code. -->
              <input type='text' style='display:none;' name='xnQsjsdp' value='6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b'/>
              <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
              <input type='text' style='display:none;' name='xmIwtLD' value='c938b3760cef79fa104a6d95db5ac1e6f7b5498f479fbd5c57df3a53e5f31811'/>
              <input type='text' style='display:none;' name='actionType' value='UG90ZW50aWFscw=='/>
              <input type='text' style='display:none;' name='returnURL' value='null' />
              <div id='elementDiv362158000000724593' class='wf-form-wrapper'>
              <div class='wf-row'>  
              <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
              <div class='wf-field-inner'>
              <input name='Contacts.First Name' maxlength='40' type='text' placeholder="First Name" value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 10px;"/>
              </div>
              <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              <div class='wf-row'>  
              <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
              <div class='wf-field-inner'>
              <input name='Contacts.Last Name' maxlength='80' type='text' value='' placeholder="Last Name" class='form-control' oninput='removeError(this)' style="margin-bottom: 10px;"/>
              </div>
              </div>
              </div>
              <div class='wf-row'>  
              <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
              <div class='wf-field-inner'>
              <input fvalidate='true' ftype='email' name='Contacts.Email' placeholder="Email" maxlength='100' type='text' value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 10px;"/>
              </div>
              <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              <div class='wf-row'>  
              <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
              <div class='wf-field-inner'>
              <input name='Potential Name' maxlength='120' type='text' placeholder="Subject" value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 10px;"/>
              </div>
              <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              <div class='wf-row'>  
              <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
              <div class='wf-field-inner'>
              <textarea name='Contacts.Description' maxlength='32000' type='text' placeholder="Description" class='form-control' style='resize: none; margin-bottom: 10px;' oninput='removeError(this)'></textarea>
              </div>
              <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              <div class='wf-row' data-ux-field-appearance='captcha' style="color: red;">  
              <div class='wf-field'>
              <div class='wf-field-inner'>
              <input type='text' id='enterdigest362158000000724593' name='enterdigest' placeholder="Captcha" class='form-control wform-field-item-captcha-input' onchange='removeError(this)' style="margin-bottom: 10px;"/>
              <div class='wf-field-captcha-img-wrap'><img id='imgid' alt='captcha image' class='wf-field-captcha-img' src='https://bigin.zoho.eu/crm/CaptchaServlet?formId=c938b3760cef79fa104a6d95db5ac1e6f7b5498f479fbd5c57df3a53e5f31811&grpid=6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b'/>
              </div>
              </div>
              <div class='cP reload-captcha' onclick='reloadImg()'>
              <span class='reload-img'>&#8635</span><span class='link'>Reload</span>
              </div>
              </div>
              </div>

              <div class="d-flex mt-4">
                <div class='wf-row wf-btn-row'>
                <div class='wf-label' data-ux-empty-label='true'></div>
                <div class='wform-btn-wrap'>
                <input id='formsubmit' type='submit' class='wf-btn btn btn-primary mx-0' value='Make it happen'/>
                </div></div>
              </div>
              <div class="mt-4">
                <p>
                  By clicking "Make it happen" you agree to the Privacy Policy and Terms of Use
                </p>
              </div>
            </div>
            </form>
            </div>
            </div>
            <script>
               var mndFileds=new Array('Contacts.First\x20Name','Contacts.Last\x20Name','Contacts.Email','Potential\x20Name','Contacts.Description');
               var fldLangVal=new Array('First\x20Name','Last\x20Name','Email','Subject','Description');
              var wfInnerWidth = window.innerWidth;
              if(wfInnerWidth <= 768){
              document.forms['BiginWebToRecordForm362158000000724593'].setAttribute('data-ux-form-alignment', 'top');
              }
            var name='';
            var email='';
              function removeError(fieldObj) {
              var parentElement = fieldObj.parentElement.parentElement,
              childEle = parentElement.getElementsByClassName('wf-field-error')[0];
              if(childEle) {
              parentElement.classList.remove('wf-field-error-active');
              parentElement.removeChild(parentElement.getElementsByClassName('wf-field-error')[0]);
              }
              }
              function setError(fieldObj, label) {
              var parentElement = fieldObj.parentElement.parentElement,
              childEle = parentElement.getElementsByClassName('wf-field-error')[0];
              if(!childEle) {
              var spanEle = document.createElement('SPAN');
              spanEle.setAttribute('class', 'wf-field-error');
              spanEle.innerHTML = label;
              parentElement.append(spanEle);
              parentElement.classList.add('wf-field-error-active');
              }
              }
              function validateFields362158000000724593() {
              var isReturn = true;
              var form = document.forms['BiginWebToRecordForm362158000000724593'];
              var validateFld = form.querySelectorAll('[fvalidate=true]');
              var i;
              for (i = 0; i < validateFld.length; i++)
              {
              var validateFldVal = validateFld[i].value;
              if(validateFldVal !== '') {
              var fLabel = validateFld[i].parentElement.parentElement.parentElement.getElementsByClassName('wf-label')[0].innerHTML;
              switch(validateFld[i].getAttribute('ftype')) {
              case 'email':
              if(validateFldVal.match(/^([A-Za-z0-9._%-'+/]+@[A-Za-z0-9.-]+.[a-zA-Z]{2,22})$/) === null) {
              setError(validateFld[i], 'Enter valid ' + fLabel);
              isReturn = false;
              }
              break;
              case 'number':
              if(validateFldVal.match(/^[0-9]+$/) === null) {
              setError(validateFld[i], 'Enter valid ' + fLabel);
              isReturn = false;
              }
              break;
              case 'mobile':
              if(validateFldVal.match(/^[0-9a-zA-Z+.()\-;\s]+$/) === null) {
              setError(validateFld[i], 'Enter valid ' + fLabel);
              isReturn = false;
              }
              break;
              }
              }
              }
              return isReturn;
            }

              /* Do not remove this code. */
               function reloadImg() {
            if(document.getElementById('imgid').src.indexOf('&d') !== -1 ) {
                 document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();
            }  else {
                 document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();
            }
              }
              function captchaError362158000000724593() {
              var captchaTool = document.getElementById('enterdigest362158000000724593');
              if(captchaTool != undefined && captchaTool.value == '')
              {
              setError(captchaTool, 'Captcha cannot be empty');
              return false;
              }
              return true;
              }
              function disablePrivacyError362158000000724593() {
              var privacyTool = document.getElementById('privacycheck362158000000724593');
              removeError(privacyTool);
              }

            function checkMandatory362158000000724593() {
            var isReturn = true;
            for(i=0;i<mndFileds.length;i++) {
             var fieldObj=document.forms['BiginWebToRecordForm362158000000724593'][mndFileds[i]];
             if(fieldObj) {
            if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
            if(fieldObj.type =='file')
            {
            setError(fieldObj, 'Please select a file to upload.');
            isReturn = false;
            }
            setError(fieldObj, fldLangVal[i] + ' cannot be empty');
            isReturn= false;
            }  else if(fieldObj.nodeName=='SELECT') {
            if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
            setError(fieldObj, fldLangVal[i] +' cannot be none.');
            isReturn = false;
              }
            } else if(fieldObj.type =='checkbox'){
              if(fieldObj.checked == false){
            setError(fieldObj, 'Please accept  '+fldLangVal[i]);
            isReturn= false;
            }
            }
            try {
                if(fieldObj.name == 'Last Name') {
            name = fieldObj.value;
                 }
            } catch (e) {}
               }
            }
            if(!captchaError362158000000724593()){isReturn = false;}
            if(!validateFields362158000000724593()){isReturn = false;}
            if(!isReturn){
            var errEle = document.getElementsByClassName('wf-field-error');
            if(errEle && errEle.length >0){
            var inputEle = errEle[0].parentElement.getElementsByTagName('input');
            if(inputEle && inputEle.length == 0) {
            inputEle = errEle[0].parentElement.getElementsByTagName('select');
            }
            if(inputEle && inputEle.length > 0) {
            inputEle[0].focus();
            }
            }
            }
            return isReturn;
            }

             
            </script>
              <script id='wf_script' src='https://bigin.zoho.eu/crm/WebformScriptServlet?rid=c938b3760cef79fa104a6d95db5ac1e6f7b5498f479fbd5c57df3a53e5f31811gid6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b'></script>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact-us-review">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2 review-title">
            Need a review?
          </h2>
          <p class="text-center fs-5">
            Submit your code or/and design to get feedback on your work. The main goal of this process is to provide you with an expert analysis and suggestions on how to improve your product
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="features-box">
            <h3 class="h2">Code</h3>
            <ul class="list-unstyled">
              <li>Code Quality</li>
              <li>Code Maintainability</li>
              <li>Project Architecture</li>
              <li>+ many more parameters</li>
            </ul>
            <button class="btn btn-outline-primary w-100" data-text="Learn More"><span>Learn More</span></button>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="features-box">
            <h3 class="h2">Design</h3>
            <ul class="list-unstyled">
              <li>System Messages</li>
              <li>Typography</li>
              <li>Colors, Foregrounds & Backgrounds</li>
              <li>+ many more UI & UX features</li>
            </ul>
            <button class="btn btn-outline-primary w-100" data-text="Learn More"><span>Learn More</span></button>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /main -->

{{> footer }}
